@model Beast_Chipping.Models.Artigo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artigo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.numeroSerie">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
